* {
    font-family: Arial, Helvetica, sans-serif;
 }

body {
    padding: 0px;
    margin: 0px;
}

.nav1 {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}
.nav1 div {
    display: flex;
    align-items: center;
}
.nav1 h5 {
    color: white;
    margin-left: 10px;
    margin-right: 5px;
}
.nav1 a {
color: white;
margin-right: 5px;
}
.nav2 {
    display: flex;
  width: 100%;
  justify-content: space-between;
    align-items: center;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.nav2 > img {
    width: 15%;

}
.nav2 > div {
    width: 20%;
}
.nav2>div>button>img{
    width: 50%;
}
.nav2 > div >button {
    backface-visibility: hidden;
    width: 20%;
  height: 40px;
    background-color: white;
    border: white;
   
}
.nav3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    font-family: Arial,Arial, Helvetica, sans-serif;
}
.Mdrop {
    display: none;
}
.Wdrop {
    display: none;
}
.Jdrop {
    display: none;
}
.Ndrop {
    display: none;
}
.Sdrop {
    display: none;
}
.Rdrop {
    display: none;
}
.Ldrop{
    display: none;
}
.Cdrop{
    display: none;
}
.Wdrop div {
    width: 40%;
}

.Wdrop img{
   width: 100%; 
}
#drop1:hover .Wdrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}

.Mdrop div {
    width: 40%;
}
.Mdrop img{
   width: 100%; 
}
#drop2:hover .Mdrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}
.Jdrop div {
    width: 40%;
}
.Jdrop img{
   width: 100%; 
}
#drop3:hover .Jdrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}
.Ndrop div {
    width: 40%;
}
.Ndrop img{
   width: 100%; 
}
#drop4:hover .Ndrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}


.Sdrop div {
    width: 40%;
}
.Sdrop img{
   width: 100%; 
}
#drop5:hover .Sdrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}

.Rdrop div {
    width: 40%;
}
.Rdrop img{
   width: 100%; 
}
#drop6:hover .Rdrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}
.Cdrop div {
    width: 40%;
}
.Cdrop img{
   width: 100%; 
}
#drop7:hover .Cdrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}

.Ldrop div {
    width: 40%;
}
.Ldrop img{
   width: 100%; 
}
#drop8:hover .Ldrop {
    display: flex;
    position: absolute;
    background-color: white;
    width: 50%;
    justify-content: space-around;
}

.nav3 a {
color: black;
text-decoration: none;
margin-bottom: 10px;
display: block;
font-weight: bolder;
font-size: small;
}
#cont1 {
    background-image: url("https://i.pinimg.com/originals/d7/99/51/d79951fab15f0baad7aa96ff0ee14b05.jpg"),
    url("https://wasabi-files.lbstatic.nu/files/looks/medium/2017/04/19/5168414_modnapolka.jpg?1492634315"),
    url("https://sharpmagazine.com/wp-content/uploads/2016/02/DSC3912-836x1255.jpg")
    ;
    
    width: 100%;
    height: 430px;
    background-size: 29% ,50%,25%;
    background-position: left,center,right;
    background-repeat: no-repeat,no-repeat,no-repeat;
 

}

#heading1 {
   font-size: 200%;
}
#cont1 > div{
    display: block;
    text-align: center;
    padding-top: 120px;
}
#cont1 > div>a{
 margin-left: 5px;
 color: black;

}
.clear{
    display: flex;
    align-items: center;
    background-color: black;
    height: 150px;
    margin-top: 10px;
    justify-content: space-between;
}
.clear a{
  color: white;  
}

.clear p{
    color: white;
}
.cont2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    border: grey 1px solid;
}
.cont2 div{
width: 13%;
}
.cont2 img{
    width: 100%;
    height: 220px;
}
.cont2 a {
    display: block;
    font-size: small;
    text-align: center;
    color: black;   
} 

h2 {
    text-align: center;
}
#icons {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px; 
}
.cont4 {
    background-color: grey;
}
.cont3 p{
    display: block;
    text-align: center;
    color: white;
    margin-top: 150px;
   font-size: larger;
}
.cont3 span{
  font-size: x-large;  
}
.cont3 a{
    color: white;
}

.cont3 > div > div {
    height: 400px;
}

.cont3 >div div:nth-child(1){
 
    background-image: url("https://i.pinimg.com/originals/8a/3f/d6/8a3fd60fc9aa0550bd7d3b1457d8d208.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.cont3 > div div:nth-child(2){
   
    background-image: url("https://th.bing.com/th/id/OIP.UhgPZsJSlXG69FNCVAmyaAHaJ4?pid=ImgDet&rs=1");
    background-size: 100%;
    background-repeat: no-repeat;
}.cont3 > div div:nth-child(3){
    
    background-image: url("https://th.bing.com/th/id/OIP.-oDpZeZaNueinkkDlQ3rxAHaKT?pid=ImgDet&rs=1");
    background-size: 100%;
    background-repeat: no-repeat;
}.cont3 > div div:nth-child(4){
 
    background-image: url("https://i.pinimg.com/originals/17/ed/da/17eddaa417f3609c82c8fb8dc58d8063.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}.cont3 > div div:nth-child(5){
 
    background-image: url("https://th.bing.com/th/id/OIP.l5V0Vo9xkGz24d8s3UKONAHaJ4?pid=ImgDet&rs=1");
    background-size: 100%;
    background-repeat: no-repeat;
}.cont3 > div div:nth-child(6){
 
    background-image: url("https://i.pinimg.com/originals/f5/6e/88/f56e88657e1457fefcfb2e0bb4452e7e.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.cont3 {
   margin: auto;
    background-color: white;
    width: 80%;
 
}
.cont4 >div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.cont4 > div div {
    width: 20%;
}
 @media screen and (max-width:700px) {
    .nav3 {
        display: none;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        margin-top: 20px;
    } 
    .nav2 {
        display: flex;
        justify-content: space-around;
    }
    .nav2 > div {
        display: none;
        width: 20%;
    }
    .nav2 > p {
     display: none;
    }
   #heading1 {
    display: none;
   }
   #cont1 > div>a{
    display: none;
    margin-left: 5px;
    color: black;
   
   }
   .cont2 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: grey 1px solid;
}
.cont2 div{
  width:80%; 
}
#icons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px; 
 }
}
